@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,500;1,100&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}


.main-container{
    min-height: 100vh;
    width: 100%;
    display: flex;

}

.nav-list{
    display: flex;
    gap: 2rem;
    height: 15vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: fixed;
}

.nav-list li{

    list-style:  none;
}

.nav-list li a{
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}

.nav-list li a:hover{
    background-color: #DA498D
}

.left{
    background-color: #262525;
    width: 70%;
    height: 100vh;
    padding-left: 3rem;
    display: flex;
    align-items: center;
}

.right{
    background-color: #DA498D;
    background: linear-gradient(45deg,#DA498D, #262525);
    width: 30%;
    height: 100vh;
}

 
.icons .fa-brands{
    color: #bbb;
    font-size: 1.7rem;
}

.icons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.icons .fa-brands:hover{
    cursor: pointer;
    background: linear-gradient(#fff,#3877FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

    
.content{
    margin-left: 3rem;
}

.content h1{
    font-size: 4rem;
    color: #DA498D;
}

.content h2{
    color: white;
}

p{
    color: #fff;
    font-size: 1.2rem;
    max-width: 38rem;
    margin-top: 1.5rem;
    margin-bottom:3rem ;
}

.a{

    border: 5px solid #DA498D;
     padding: 4px 4px;
    font-size: 1rem;
    border-radius: 5px;
    margin: 1rem;
    background-color: #DA498D;
    color: black;   
}

.b{
    border: 5px solid #DA498D;
     padding: 4px 4px;
    font-size: 1rem;
    border-radius: 5px;
    margin: 1rem;
    color: #DA498D;
    background-color: #262525;   
}



 
 .image{

    aspect-ratio: 1;
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 70%;
    transform: translate(-50%,-50%);
   margin-top: 4rem;
   
 } 

.image img{
    height: 350;
    width: 350px;
    margin-left: 8rem;
   border-radius: 50%;
   border: solid 15px , #262525;
   
  
} 


     




 
